@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');




body{
margin: 3%; 
padding: 5px;
background-image: url(./photo.jpg);
background-repeat: no-repeat;
background-size: cover;
text-align: center;

}

h1{
    text-align: center;
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'PT Serif', serif;
    font-size: 150px;
    color: maroon;
}

h2{
    text-align: center;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Arima Madurai', cursive;
    font-size: 30px;
    color: white;

}

.title{
    font-size: 50px ;
    font-style: italic;
    text-align: center;
    color: white;

}

button{
    background-color: white;
    color: black;
    padding: 10px 20px 10px 20px;
    border: brown;
    border-radius: 20px;
    border-style: groove;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}

a{
    text-decoration: none;
    text-shadow: 12px;
    font-size: 25px;
}

button:hover{
    background-color: lightyellow;
}

.dm{
    width: 40%;
}

.brf{
    width: 40%;
    height: 30%
}



.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    padding: 15px;
    grid-area: auto ;
    grid-gap: 25px;
  

}

.grid-item{
    border: 5px solid black;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    padding: 15px 20px 15px 20px;
    width: auto;
    background-color: lightgrey;
 
}

.grid-item h1{
    text-align: center;
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'PT Serif', serif;
    font-size: 50px;
    color: black;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px ;
    border-radius: 25px;
    font-weight: 100;
    border: 2px solid black;
    color: violet;
    background: transparent;
    cursor: pointer;
    position: relative;
}

span{
    background: lightpink;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    color: lightskyblue;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: mistyrose;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    text-align: center;
    height: 100px;
    padding: auto;
    margin: auto;

}

nav > ul{
    color: black;
    list-style-type: none;
    border: peru 5px solid;
    height: 90px;
    padding: auto;
    margin: auto;
}

nav > ul > li{
    display: inline;
    padding: 3%;
    padding-left: 2%;
    padding-right: 4%;
}

nav > ul > li > a{
    text-decoration: none;
    color: darkred;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;

}   

.dropdown{
    position: relative;
    display: inline-block;
    
}


.btn:hover{
    color: burlywood;
    background-color: cadetblue;
    font-style: italic;
    /* padding: 5px; */
}

.btn{
    background-color: lightgoldenrodyellow;
    /* color: black;
    font-family: 'Times New Roman', Times,  serif; */
    color: darkred;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    /* border: black;
    border-style: solid;
    border-width: 10%; */
    border: none;
}

.dropdowncontent{
        display: none;
        position: absolute;
        background-color: darkturquoise;
        /* z-index: 1; */
        min-width: 160px;
}

.dropdowncontent a:hover{
    background-color: darkgray;
}

.dropdowncontent a{
    text-decoration: none;
    color: lightgoldenrodyellow;
    display: block;
    padding: 10px;
    font-size: 20px;
}

.dropdown:hover .dropdowncontent{ 
display: block;
    }